<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <hellopage>
                <yes_field>1</yes_field>
                <text_field>Pong Pong</text_field>
            </hellopage>
        </movie>
    </default>
</config>